body{
    background-image: url('https://img.freepik.com/free-photo/back-school-decoration-with-notebook_23-2147662349.jpg?t=st=1722106280~exp=1722109880~hmac=d01a35916e74db64dd7a72c29bcdffc2a1a9035e1f7f3a2c0ec8a841c197e423&w=740');
}
div{
    width: 400px;
    /* border: 5px solid black; */
    padding: 10px 50px 15px 50px;
    margin: 40px auto;
    /* background-color:#E14E22; */
    background-color: rgba(0, 0, 0, 0.5); /* 50% transparent black */
    color:white;
}
label{
    margin-left: 20px;
    font-size: 20px;
}
p{
    text-align: center;
    font-size: 20px;  
}
input{
    width: 350px;
    margin: 0px 20px 0px 20px ;
    padding: 10px 0px 10px 0px;

}
h1{
    text-align: center;
    font-size: 40px;
}

button{
    font-size: 16px;
    border-radius: 10px ;
    border: 2px solid white;
    color:white;
    background-color: rgba(0, 0, 0, 0.5); /* 50% transparent black */
    padding: 10px 10px;
    cursor: pointer;

}
.btn{
    text-align: center;
}